@charset "utf-8";
/* Ensure the hero image covers the full width of the viewport */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.hero-image {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 280px; /* Set a fixed height, adjust as needed */
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container and crops out excess parts */
    object-position: center; /* Centers the image within the container */
    display: block; /* Removes any default spacing */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(238,194,66,0.85); /* Transparent yellow background */
    padding: 20px;
    border-radius: 10px 0px;
    color: #000000;
    max-width: 90%; /* Ensures the text box doesn't exceed the screen width */
    box-sizing: border-box; /* Includes padding in the width */
    text-decoration: none; /* Removes underline from the link */
    display: block; /* Makes the entire .hero-text clickable */
}

.hero-text h2,
.hero-text p {
    margin: 0;
    font-size: 1em;
    color: inherit; /* Ensures text inherits color from .hero-text */
}

.hero-text p {
    margin: 10px 0 0;
    font-size: 0.5em;
}

.hero-text:hover {
    background-color: rgba(255, 208, 0, 0.85); /* Transparent orange on hover */
}

.navbar-brand img {
    width: 50%; /* Or any percentage that fits your design */
    height: auto; /* Ensures the aspect ratio is maintained */
}
